.app {
    @apply tw-flex tw-flex-auto tw-flex-wrap tw-items-center tw-justify-center;

    & > .container {
        @apply tw-bg-neutral-100/40 tw-shadow-black/20  tw-backdrop-blur-sm tw-shadow-md tw-rounded-md tw-p-5 tw-m-5 tw-min-w-[20rem];
    }
}
